<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<%= link_to 'New Post', new_post_path  ,class: 'btn btn-primary mb-2'%>
<table class='table'>
  <thead class="thead-dark">
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Last Update</th>
      <th colspan="4" class="text-center">action</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.updated_at %></td>
        <td><%= link_to 'Show comments', comments_path(post.id) %></td>
        <td><%= link_to 'new comment', new_comment_path(post.id) %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

